<form Name="calc">
  <div class="container" ng-controller="MainController">
    <div class="jumbotron">
      <h1 class="text-center">Calculadora</h1>

      <div class="row text-right">
        <div class="col-md-4"></div>
          <div class="col-md-4">
            {{historico}}
          </div>

          <div class="col-md-4"></div>
      </div>

      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <input type="text" name="display" class="form-control" ng-change="salvarValor()" ng-model="valorMostrado"/>
        </div>

      </div>
      <div class="col-md-4"></div>

      <br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="<" ng-click="limparValores()" />
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="CE" ng-click="limparValorMostrado()"/>
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="C" ng-click="limparValores()" />
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="/" ng-click="dividir()" />
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="7" ng-click="salvarValor(7)" />
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="8" ng-click="salvarValor(8)"/>
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="9" ng-click="salvarValor(9)" />
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="*" ng-click="multiplicar()" />
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="4" ng-click="salvarValor(4)" />
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="5" ng-click="salvarValor(5)" />
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="6" ng-click="salvarValor(6)" />
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="-" ng-click="subtrair()" />
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="1" ng-click="salvarValor(1)" />
          </div>
          <div class="col-md-1">
            <input type="button" style="width: 100%;" class="btn btn-default" value="2" ng-click="salvarValor(2)" />
          </div>
          <div class="col-md-1">
            <input type="button" style="width: 100%;" class="btn btn-default" value="3" ng-click="salvarValor(3)" />
          </div>
          <div class="col-md-1">
            <input type="button" style="width: 100%;" class="btn btn-default" value="+" ng-click="somar()" />
          </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
          <input type="button" style="width: 100%;" class="btn btn-default" value="0" ng-click="salvarValor('0')" />
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-default" value="," ng-click="limparValores()" />
        </div>
        <div class="col-md-1">
          <input type="button" style="width: 100%;" class="btn btn-primary" value="=" ng-click="calcularTotal()" />
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</form>
